[submodule "modules/pathogen"]
	path = modules/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "modules/fugitive"]
	path = modules/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/tpope/vim-git.git
[submodule "modules/unimpaired"]
	path = modules/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "modules/surround"]
	path = modules/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "modules/repeat"]
	path = modules/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "modules/speeddating"]
	path = modules/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "modules/endwise"]
	path = modules/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "modules/rails"]
	path = modules/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "modules/rake"]
	path = modules/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "modules/bundler"]
	path = modules/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "modules/haml"]
	path = modules/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "modules/cucumber"]
	path = modules/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "modules/markdown"]
	path = modules/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "modules/abolish"]
	path = modules/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "modules/solarized"]
	path = modules/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "modules/ruby"]
	path = modules/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "modules/ack"]
	path = modules/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "modules/easymotion"]
	path = modules/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "modules/javascript"]
	path = modules/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/leshill/vim-json.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "modules/coffee-script"]
	path = modules/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "modules/ZoomWin"]
	path = modules/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "modules/ctrlp"]
	path = modules/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "modules/tagbar"]
	path = modules/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "modules/buffergator"]
	path = modules/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "modules/handlebars"]
	path = modules/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "modules/scss"]
	path = modules/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "modules/csv"]
	path = modules/csv
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "modules/node.js"]
	path = modules/node.js
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "modules/pep8"]
	path = modules/pep8
	url = https://github.com/jbking/vim-pep8.git
[submodule "modules/indent-object"]
	path = modules/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "modules/Rename2"]
	path = modules/Rename2
	url = https://github.com/vim-scripts/Rename2.git
[submodule "modules/snipmate"]
	path = modules/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "modules/tlib"]
	path = modules/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "modules/addon-mw-utils"]
	path = modules/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "modules/indent-guides"]
	path = modules/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "modules/conque"]
	path = modules/conque
	url = https://github.com/rson/vim-conque.git
[submodule "modules/ruby-conque"]
	path = modules/ruby-conque
	url = https://github.com/skwp/vim-ruby-conque.git
[submodule "modules/slime"]
	path = modules/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "modules/treetop"]
	path = modules/treetop
	url = https://github.com/nanki/treetop.vim.git
[submodule "modules/clang_complete"]
	path = modules/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "modules/zeh-snippets"]
	path = modules/zeh-snippets
	url = https://github.com/zehrizzatti/snipmate-snippets.git
[submodule "modules/tcomment"]
	path = modules/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "modules/web-indent"]
	path = modules/web-indent
	url = https://github.com/xlevus/vim-web-indent.git
[submodule "modules/gist"]
	path = modules/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "modules/matchit"]
	path = modules/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "modules/syntastic"]
	path = modules/syntastic
	url = https://github.com/scrooloose/syntastic.git
